    * {
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Roboto', sans-serif;
        background-color: #fff;
    }
    
    h1 {
        color: #fff;
        position: relative;
        top: 60%;
        width: 60%;
        margin: 0 auto;
        background-color: lightgrey;
        padding: 10px;
        border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;
    }
    
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border: 1px solid rgb(233, 75, 12);
    }
    
    .row-reverse {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        border: 1px solid rgb(54, 54, 207);
    }
    
    .col-1 {
        width: 8.333333%;
    }
    
    .col-2 {
        width: 16.666666%;
    }
    
    .col-3 {
        width: 25%;
    }
    
    .col-4 {
        width: 33.333333%;
    }
    
    .col-5 {
        width: 41.666666%;
    }
    
    .col-6 {
        width: 50%;
    }
    
    .col-7 {
        width: 58.333333%;
    }
    
    .col-8 {
        width: 66.666666%;
    }
    
    .col-9 {
        width: 75%;
    }
    
    .col-10 {
        width: 83.333333%;
    }
    
    .col-11 {
        width: 91.666666%;
    }
    
    .col-12 {
        width: 100%;
    }
    
    .marge-1 {
        margin-left: 8.333333%;
    }
    
    .marge-2 {
        margin-left: 16.666666%;
    }
    
    .marge-3 {
        margin-left: 25%;
    }
    
    .marge-4 {
        margin-left: 33.333333%;
    }
    
    .marge-5 {
        margin-left: 41.666666%;
    }
    
    .marge-6 {
        margin-left: 50%;
    }
    
    .marge-7 {
        margin-left: 58.333333%;
    }
    
    .marge-8 {
        margin-left: 66.666666%;
    }
    
    .marge-9 {
        margin-left: 75%;
    }
    
    .marge-10 {
        margin-left: 83.333333%;
    }
    
    .marge-11 {
        margin-left: 91.666666%;
    }
    
    .marge-12 {
        margin-left: 100%;
    }
    /* media queries pour les écrans */
    
    @media (max-width: 320px) {
        .conteneur {
            width: 100%;
            margin-left: auto;
            margin-bottom: auto;
            border: none;
            background: #fff;
        }
        h1 {
            font-size: 120%;
            text-align: left;
            padding-left: 5px;
            color: #fff;
        }
        header p {
            color: #fff;
            text-align: left;
            padding-left: 5px;
        }
        .row {
            border: none;
            /* display: flex;
flex-direction: row;
flex-wrap: wrap; */
        }
        .col-xsm-12 {
            width: 100%;
        }
        .marge-xsm {
            margin-left: 0;
        }
    }
    /* petites tablettes */
    
    @media (min-width: 321px) and (max-width: 767px) {
        .conteneur {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            border: none;
            background: #fff;
        }
        .row {
            border: none;
        }
        .col-sm-6 {
            width: 50%;
        }
        .col-sm-12 {
            width: 100%;
        }
    }
    /* tablettes et ordinateurs portables, desktop */
    
    @media (min-width: 768px) and (max-width: 1096px) {
        .conteneur {
            width: 100%;
            background: #fff;
            margin-left: auto;
            margin-bottom: auto;
        }
    }
    /* écrans ordinateurs de bureau */
    
    @media (min-width: 1097px) {
        .conteneur {
            width: 1200px;
            margin: 0 auto;
            background: #fff;
            border: 1px solid white;
        }
    }
    /* couleurs génériques */
    
    .bleu {
        background: rgb(106, 106, 247);
        min-height: 60px;
        color: white;
        padding: 5px;
    }
    
    .rouge {
        background: rgb(201, 76, 76);
        min-height: 60px;
    }
    
    .vert {
        background: rgb(62, 116, 62);
        min-height: 60px;
    }
    
    .jaune {
        background: rgb(196, 180, 93);
        min-height: 60px;
    }
    
    header {
        text-align: center;
        background: url(../img/a.jpg) no-repeat center;
        height: 333px;
    }
    
    footer {
        padding: 10px;
    }
    
    #monImage {
        border: 1px solid rgb(55, 52, 52);
        /* box-shadow: 8px 12px 2px 1px rgba(87, 84, 76, 0.2); */
        width: 100%;
        height: 100%;
    }
    
    #monImage2 {
        border: 1px solid rgb(55, 52, 52);
        /* box-shadow: 8px 12px 2px 1px rgba(87, 84, 76, 0.2); */
        width: 90%;
        height: 90%;
    }
    /* trois colonnes égales cotes à cotes  */